<div class="page-header">
  <h1>
    Trainers
    <a href="/trainers/new" class="btn btn-lg btn-success">New Trainer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @trainers.each do |trainer| %>
      <tr>
        <td><%= trainer.name %></td>
        <td>
          <a href="/trainers/<%= trainer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_trainer/<%= trainer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @trainers, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
